<section class="about">
    <div class="about-pag">
        <div class="parent">
            <div class="div1"> <img src="assets/imges/Image5.png" alt=""></div>
            <div class="div2"><h3>DISCOVER</h3> </div>
            <div class="div3"><p>UPCOMING EVENTS</p> </div>
            <div class="div4"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p> </div>
            <div class="div5"> </div>
            </div>
    </div>
</section>