<div class="parent">
    <div class="div1"> <button class="btn">Always Tasty Burger</button></div>
    <div class="div2">
        <p>CHOOSE & ENJOY</p>
    </div>
    <div class="div3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. </p>
    </div>
    <div class="div4"> </div>
    <div class="div5"> </div>
    <div class="div6"> </div>
    <div class="div7"> <img class="imgtitel" src="assets/imges/Group 1.png" alt=""></div>
    <div class="div8">
        <p class="title">Lorem ipsum dolor</p>
    </div>
    <div class="div9">
        <p class="text-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
    </div>
    <div class="div10"> <button class="btn-red">ORDER NOW</button></div>
    <div class="div11"><img class="imgtitel" src="assets/imges/Group 3.png" alt=""> </div>
    <div class="div12">
        <p class="title">Lorem ipsum dolor</p>
    </div>
    <div class="div13">
        <p class="text-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
    </div>
    <div class="div14"> <button class="btn-red">ORDER NOW</button></div>
    <div class="div15"> <img class="imgtitel" src="assets/imges/Group 2.png" alt=""></div>
    <div class="div16">
        <p class="title">Lorem ipsum dolor</p>
    </div>
    <div class="div17">
        <p class="text-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
    </div>
    <div class="div18"><button class="btn-red">ORDER NOW</button> </div>
</div>