<section class="contactus">
    <div class="parent">
        <div class="div1"> <img src="assets/imges/Image66.png" alt=""></div>
        <div class="div2"><p>RESERVATION</p> </div>
        <div class="div3"><p>BOOK YOUR TABLE</p></div>
        <div class="div4"><input type="text" name="text" class="input" placeholder="NAME"> </div>
        <div class="div5"><input type="text" name="text" class="input" placeholder="DATE"> </div>
        <div class="div6"><input type="text" name="text" class="input" placeholder="PEOPLE"> </div>
        <div class="div7"><input type="text" name="text" class="input" placeholder="EMAIL"> </div>
        <div class="div8"><input type="text" name="text" class="input" placeholder="TIME"> </div>
        <div class="div9"> <button class="btn-red">FIND A TABLE</button> </div>
        </div>
</section>